<%= render "shared/header" %>


  <div class=top-search id=top-page-search>
  商品検索
  </div>
  <%= render "shared/search" %>

  <h2>shop一覧</h2>
  <ul>
  <% if @shops.present? %>
    <% @shops.each do |shop| %>
      <li>
        <%= link_to shop.name, shop_items_path(shop.id) %>
      </li>
    <% end %>
  <% else %>
    shopを登録してください
  <% end %>
  </ul>
