.top-page-header {
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.owner-user-login {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;  
  margin-right: 2vw;
}

.name { 
  width: 20vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0px 5px;
}

.owner-user-name {
  font-size: 1.1em;
}

.log-in {
  width: 9vw;
  height: 5vh;
  margin: 0px 2px 0px 6px;
  border-width: 4px;
  border-style: solid;
  display: table;
  text-decoration: none;
}

.log-in-text {
  font-size: 0.9em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}