.top-page-header {
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.owner-user-login {
  display: flex;
  flex-direction: row-reverse;
}

.log-in {
  width: 140px;
  height: 40px;
  border-width: 4px;
  border-style: solid;
  margin: 0px 5px;
  display: table;
}

.log-in-text {
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}