.edit-item-back {
  background-color: rgb(192, 192, 192);
  background-image: image-url("registration_16.jpeg");
}

.item-edit {
  width: 55vw;
  background-color:#ececec;
}

.item-change-btn {
  border: 6px solid #4699ca;
}