.shop-top-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.shop-top-main {
  width: 100vw;
  flex: 1;
  overflow: scroll;
}

.shop-title {
  width: 90vw;
  display: flex;
  margin: auto;
  padding-top: 3vh;
}

.shop-title-name {
  width: 70%;
  overflow-wrap: break-word;
}

.shop-name {
  font-size: 2em;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.display{
  width: 10vw;
  height: 7vh;
  display: table;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: solid #ff006f 6px;
  font-size: 1.3em;
  text-decoration: none;
  margin-left: 5vw;
}

.display-text {
  display: table-cell;
  vertical-align: middle;
}

.shop-info {
  width: 80vw;
  font-size: 1.2em;
  margin: 4vh auto;
  overflow-wrap: break-word;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-title {
  font-size: 1.8em;
  margin-left: 5vh;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
}

.list-item {
  text-decoration: none;
  color: #000;
}

.list-item-img {
  width: 35vh;
  height: 32vh;
}

.shop-item-name {
  font-size: 1.1em;
  width: 100%;
  overflow-wrap: break-word;
}

.shop-item-status {
  font-size: 1em;
}

.shop-no-item {
  font-size: 2em;
  font-weight: bold;
}