.search-result {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.search-main {
  width: 100vw;
  flex: 1;
  overflow: scroll;
}

.search-list-title {
  margin-left: 4vw;
  margin-top: 2vh;
  font-size: 2em;
}

.list-item-name{
  font-size: 1.2em;
}

.list-shop-name{
  font-size: 0.7em;
}

.list-item-status{
  font-size: 1.2em;
}