.item-main {
  width: 100vw;
}

.main-shop-name {
  margin-top: 1em;
}

.item-shop-name{
  font-size: 1.2em;
  margin-left: 4vw;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.item-image-lists {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
}

.item-img {
  width: 30vw;
  height: 40vh;
}

.item-info {
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: center;
}

.item-name {
  font-size: 1.6em;
  margin-left: 5vw;
  font-weight: bold;
}

.category {
  margin-left: 5em;
}


.color {
  margin-left: 5em;
}

.color-category{
  border-radius: 25px;
  border-style: solid;
  border-width: 1.5px;
  margin: 0px 3px;
  padding: 2px 5px;
  text-align: center;
}

.button {
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
}

.display-item-price {
  margin-left: 8em;
}

.item-price {
  font-size: 1.7em;
  font-weight: bold;
}

.owner-edit {
  display: flex;
}

.edit-delete-button {
  width: 7vw;
  height: 6vh;
  display: table;
  text-decoration: none;
  text-align: center;
  border: solid 6px;
  font-size: 1.6em;
  text-decoration: none;
  margin-left: 5em;
}

.edit-button {
  background-color: #000;
  border-color: #4699ca;
  color: #fff;
}

.delete-button {
  background-color: #000;
  border-color: #ffbf1f;
  color: #fff;
}

.edit-delete-text {
  display: table-cell;
  vertical-align: middle;
}

.user-buying {
  display: table;
  text-decoration: none;
}

.buying-button {
  width: 7vw;
  height: 6vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: solid #cc0000 6px;
  font-size: 1.6em;
  text-decoration: none;
  background-color: #000;
  color: #fff;
}

.info-size {
  width: 100vw;
  display: flex;
}

.info {
  width: 60vw;
  margin: 1vh 6vw 0 7vw;
  overflow: scroll;
}

.size {
  width: 20vw;
  margin: 1vh 7vw 0 6vw;
  overflow: scroll;
}

.item-info-title {
  margin-bottom: 1.5vh;
  font-size: 1.3em;
}