.top-title {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font-size: 1.3em;
  font-weight: bolder;
  text-decoration: none;  
}

.top-main {
  position: relative;
}

.left_one_top {
  height: 22vh;
  width: 18.25vw;
  position: absolute;
  margin: 2vh 5vw 7.5vh 6vw;
}

.left_two_top{
  height: 22vh;
  width: 18.25vw;
  position: absolute;
  margin: 2vh 5vw 7.5vh 29.25vw;
}

.left_bottom{
  height: 51.5vh;
  width:  41.5vw;
  position: absolute;
  margin: 30.5vh 5vw 4vh 6vw;
}

.right-top{
  height: 37vh;
  width: 41.5vw;
  position: absolute;
  margin: 2vh 6vw 7.5vh 52.5vw;
}

.right-bottom{
  height: 36.5vh;
  width: 25vw;
  position: absolute;
  margin: 45.5vh 5vw 4vh 52.5vw;
}

.top-info{
  position: absolute;
  height: 36.5vh;
  width: 11.5vw;
  margin: 45.5vh 6vw 4vh 82.5vw;
  font-size: 1.5em;
}

.top-search-form{
  font-size: 0.7em;
}

.shop-list{
  font-size: 0.7em;
}

.hidden {
  display: none;
}