.app-top-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.top-page {
  width: 100vw;
  flex: 1;
}

.top-title {
  height: 5vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  text-decoration: none;  
}

.top-main {
  width: 100vw;
  position: relative;
}

.left_one_top {
  height: 22vh;
  width: 18.25vw;
  position: absolute;
  top: 2vh;
  left: 6vw;
}

.left_two_top{
  height: 22vh;
  width: 18.25vw;
  position: absolute;
  top: 2vh;
  left: 29.25vw;
}

.left_bottom{
  height: 51.5vh;
  width:  41.5vw;
  position: absolute;
  top: 30.5vh;
  left: 6vw;
}

.right-top{
  height: 37vh;
  width: 41.5vw;
  position: absolute;
  top: 2vh;
  left: 52.5vw;
}

.right-bottom{
  height: 36.5vh;
  width: 25vw;
  position: absolute;
  top: 45.5vh;
  left: 52.5vw;
}

.top-info{
  position: absolute;
  height: 36.5vh;
  width: 11.5vw;
  top: 45.5vh;
  left: 82.5vw;
  font-size: 1.5em;
  cursor: pointer;
}

.top-search-form{
  font-size: 0.7em;
}

.shop-list{
  font-size: 0.7em;
}

.hidden {
  display: none;
}