.owner-login-back{
  height: 100vh;
  background-color: rgb(236, 236, 236);
  background-image: image-url("log_in_5.jpeg");
}

.owner-login-background {
  border-radius: 25px;
  background-color:#eeeeee;
  padding: 3vh ;
}

.flash-login {
  text-align: center ;
}

.owner-login-btn {
  border: 6px solid #00a5dd;
}