.user-registration-back {
  background-color: rgb(150, 151, 151);
  background-image: image-url("registration_10.jpeg");
}

.user-registration {
  background-color:rgb(216, 213, 209);
}

.user-registration-btn {
  border: 6px solid #d2d200;
}