.user-mypage {
  height: 100vh;
  background-color: rgb(226, 226, 226);
  background-image: image-url("registration_7.jpeg");
}

.user-btn-field {
  background-color:#fcfcfc;
}

.mypage-like-btn {
  margin-bottom: 5vh;
  background-color: #000;
  border-color: #0017eb;
  color: #fff;
}

.mypage-history-btn {
  margin-bottom: 5vh;
  background-color: #000;
  border-color: #cc0000;
  color: #fff;
}

.user-edit-btn {
  margin-bottom: 5vh;
  background-color: #000;
  border-color: #d2d200;
  color: #fff;
}